{% extends 'core/base.html' %}

{% block title %}
    Sucursales
{% endblock title %}

{% block body_title %}
    Sucursales
{% endblock body_title %}

{% block content %}
    
    <div>
        <a href="{% url 'Sucursales:lista_sucursales' %}">Lista de Sucursales</a>
        <p></p>
        <a href="{% url 'Sucursales:create' %}">Registrar nueva Sucursal</a>
        <p></p>
    </div>
    <p></p>
    <button><a href="{% url 'core:index' %}">Ir a página de inicio</a></button>
{% endblock content %}