{% extends 'core/base.html' %}

{% block title %}
    Sucursales | Sucursales: Listado
{% endblock title %}

{% block body_title %}
    Sucursales: Listado de Sucursales
{% endblock body_title %}

{% block content %}
    <div class="row">
        {% for sucursal in Sucursales %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sucursal: {{ sucursal.nombre }}</h5>
                        <p class="card-text"><strong>Dirección:</strong> {{ sucursal.direccion }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
