{% extends 'core/base.html' %}

{% block title %}
    Clientes | Clientes: Listado
{% endblock title %}

{% block body_title %}
    Clientes: Listado de clientes
{% endblock body_title %}

{% block content %}
    <div class="row">
        {% for cliente in Clientes %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ cliente.nombre }} {{ cliente.apellido }}</h5>
                        <p class="card-text"><strong>Email:</strong> {{ cliente.email }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
